#our-gyms {
    background-color: black;
    color: white;
    padding-bottom: 50px;
    padding-top: 20px;
}

.our-gyms-title {
    text-align: center;
    margin-bottom: 35px;
    padding: 0px 10px;

    h1 {
        font-weight: bold;
    }
}

.our-gyms-branchs {
    
    h4 {
    color: $color-primary;
    font-weight: 800;
    }
}

.our-gyms-branchs-belgrano {
    text-align: center;
    font-weight: 600;
}

.our-gyms-branchs-boedo {
    text-align: center;
    font-weight: 600;
}

.our-gyms-branchs-caballito {
    text-align: center;
    font-weight: 600;
}

.our-gyms-branchs-palermo {
    text-align: center;
    font-weight: 600;
}

.our-gyms-branchs-recoleta {
    text-align: center;
    font-weight: 600;
}

.our-gyms-branchs-vicentelopez {
    text-align: center;
    font-weight: 600;
}
